.btn {
	display: inline-block;;
	margin: 0 auto;
	padding: 20px 60px;
	border: 1px solid currentColor;
	font-size: 13px;
	color: currentColor;
	text-align: center;
	text-decoration: none;
}

@media (min-width: $screen-sm-min) {
	.btn {
		padding: 20px 60px;
		font-size: 14px;
	}
}
